<ion-header>
  <ion-toolbar>
    <ion-title>friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div *ngFor="let friend of friendnames">
  <ion-list>
     <ion-item>
      <ion-label>{{friend}}</ion-label>
    </ion-item>
  </ion-list>
  </div>
  <ion-input  id="myfriend" placeholder="Friend's email" #friendemail></ion-input>
  <ion-button (click)="addfriend(friendemail)" color="primary" expand ="full">Add Friend</ion-button>
  <ion-button (click)="start()"#show>show your friends</ion-button>
</ion-content>
