<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; font-size: medium">Enter your phone number</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
    <ion-row>
      <ion-col>
        <div id="recaptcha-container" style="display: none"></div>

        <div *ngIf="!otpSent">
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="area-code" size="2">
              <!-- <ion-label>
                +1868
              </ion-label> -->
            </ion-col>
            <ion-col style="text-align: left">
              <ion-item>
                <ion-label class="ion-text-start" position="floating">Phone Number</ion-label>
                <ion-input id="phoneNumber"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col>
              <ion-button (click)="sendOTP()">
                Send OTP
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="otpSent">
          <ion-note style="font-weight: bold; font-size: medium">
            Code sent to {{phoneNumber}}
          </ion-note>

          <ion-item>
            <ion-label position="floating"> Verify OTP</ion-label>
            <ion-input id="otp"></ion-input>
          </ion-item>
          <ion-row>
          <ion-col style="text-align:center">
          <ion-button
            (click)="verifyOTP()"
          >
            Verify OTP
          </ion-button>
        </ion-col>
        </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>

